@appliedblockchain:registry=https://npm.pkg.github.com
@tokenysolutions:registry=https://npm.pkg.github.com
@onchain-id:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}