# Security settings
minimum-release-age=1440
audit-level=moderate
ignore-scripts=true
package-manager-strict=true

# Registry configurations
@appliedblockchain:registry=https://npm.pkg.github.com
@tokenysolutions:registry=https://npm.pkg.github.com
@onchain-id:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}
